<h1 class="animated fadeIn fast">Sobre Writers History</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique nobis inventore repudiandae, hic nesciunt obcaecati minima tempora recusandae quos quidem neque quaerat explicabo doloremque quod, quo deleniti facilis veritatis omnis? Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Dolor quae maiores aspernatur ratione nemo odio soluta vero, vel, omnis labore quisquam saepe quidem animi dignissimos iusto libero laboriosam error culpa.
</p>